.flex
  .w70
    %h1 Neue Abrechnung erstellen
    %h2 Ausgelesne Anbieter bearbeiten
  .w30.t-right
    = link_to 'Abbrechen', cancel_payouts_payout_run_path, method: :delete, class: 'btn-base btn-sec', data: { confirm: 'Möchstest du wirklich abbrechen? Alle zu dieser Abrechnung erstellten Daten werden gelöscht.' }

.centered-content
  - @providers.each do |provider|
    = render 'provider_card', provider: provider
