.flex
  .w50
    %h1 Anbieter Übersicht

  .w50.t-right
    = link_to 'Neuen Anbieter erstellen', new_provider_path, class: "btn-base btn-main d-inline-block mb-4"

#providers-list.centered-content
  .t-center
    = button_tag 'Inaktive Anbieter', id: "show-inactive-providers", class: "btn-base btn-ghost"

  #active-providers.margin-top
    - if @providers&.any? { |p| !p.inactive? }
      - @providers.each do |provider|
        - if !provider.inactive
          = render partial: 'provider_card', locals: { provider: provider }

  #inactive-providers.margin-top
    - if @providers&.any?(&:inactive?)
      - @providers.each do |provider|
        - if provider.inactive
          = render partial: 'provider_card', locals: { provider: provider }
